 <!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {{>header}}
<body>
  <nav>
    <div class="menu">
       
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="">About</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="/">register</a></li>
         <li><a href="/login">login</a></li>
      </ul>
    </div>
  </nav>
  <div class="img"></div>
  <div class="center">
    <div class="title">Create Amazing Website</div>
    <div class="sub_title">Pure HTML & CSS Only</div>
    <div class="btns">
      <button>Learn More</button>
      <button>Subscribe</button>
    </div>
  </div>
</body>
</html>
